.classe1 {
  ul {
    background-color: red;
  }

  li {
    background-color: blue;
    padding: 10px 0px;
  }

  button {
    background-color: gray;
    color: white;
    cursor: pointer;

    &:hover {
      width: 100px;
      height: 30px;
      background-color: red;
      color: black;
      transition: 500ms;
    }
  }
}